.btn {
  width: 118px;
  height: 45px;
  background: #f0f0f0;
  border: 1px solid #acacac;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 750px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.active {
  background: #dc2f21;
  color: #fff;
}
